* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Helvetica', sans-serif;
}

ul {
  list-style: none;
}

a {
  color: #999;
  text-decoration: none;
}
.logo img{
	width:32px;height:32px;position:absolute;top:18px;
}
.logo h1 {
  font-size: 1.1rem;
}

.logo p {
  font-size: 1rem;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.left {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav li {
  margin-right: 1.2rem;
}

.nav li a,button{
  font-size: 14px;
  font-weight: 550;
}
.nav li button{
  border:none;
  padding:10px;
  border-radius:5px;
  font-weight:400;
}


.nav li .join {
  display: block;
  background: #3cb46e;
  color: #fff;
  padding: 0.5rem 0.6rem;
  border-radius: 5px;
  transition: filter 0.5s;
}

.nav li .join:hover {
  filter: brightness(85%);
}

.nav-search-form {
  margin-left: 1rem;
}

.nav-search-form input {
  padding: 0.7rem;
  border-radius: 20px;
  border: none;
  background-color: #eee;
  width: 600px;
  font-size: 0.9rem;
  color: #333;
}
.nav-search-form input{
  padding-left:40px;
}


.nav-search-form input:focus {
  background: #fff;
}
.nav-search-form .material-icons{
position:absolute;top:8px;right:0;
}

/* Category nav */
.category-nav {
  display: flex;
  padding-left: 0.6rem;
  overflow: hidden;
}

.category-nav .category {
  padding: 0.8rem;
}

.category a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
}
.category button{
 border:none;
  cursor:pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  background:transparent;
    color: #999;
  text-decoration: none;

}

::-webkit-scrollbar{
  display:none;
}


/* Hero */
.hero {
  height: 48em;
 background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREY2m2d7nyoDwPaK9Cak_VgIzjtGfJL-EBZw&usqp=CAU') no-repeat right top;
 background-size: 100% 770px;
  width: 100%;
  position: relative;
}
.hero-container {
  max-width: 60%;
  margin: auto;
}

.hero-content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h1 {
  font-size: 3rem;
  color: #fff;
  z-index: 2;
}

.hero-content p {
  color: #fff;
  z-index: 2;
  margin: 1rem 0;
  line-height: 1.5;
}

.hero-search-form {
  z-index: 2;
  margin: 1rem 0.6rem 0 0;
}

.hero-search-form input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 5px;
  border: none;
  color: #000;
  font-size: 0.9rem;
}
.hero-search-form input{
padding-left:45px;
}
.hero-search-form .material-icons{
position:absolute;top:8px;right:0;

}
.hero-search-form .search-icon{
position: absolute; top: 18px; left:20px;
}

.trending-search-tags {
  z-index: 2;
}

.trending-search-tags a {
  color: #999;
  transition: 0.5s color;
}

.trending-search-tags a:hover {
  color: #fff;
}
/*code for js*/
.container {
    margin-top: 50px;
    text-align: center;
    margin-left:200px;
    margin-right:180px;
}
.icondiv .iconbtn {
  background-color:white;
  border: none;
  color: white;
  padding:5px;
  cursor: pointer;
  font-size:20px;
  position: absolute; bottom:5px; left:5px;
}
.icondiv .fa-arrow-down{
	color:black;
	cursor:pointer;
}
.icondiv .iconbtn2{
  background-color:white;
  border: none;
  color: white;
  padding:5px;
  cursor: pointer;
  font-size:20px;
  position: absolute; bottom:5px; left:40px;
}
.icondiv .fa-heart{
	color:black;
	cursor:pointer;
}
.icondiv .iconbtn3{
  background-color:white;
  border: none;
  color: white;
  padding:5px;
  cursor: pointer;
  font-size:20px;
  position: absolute; bottom:5px; left:80px;
}
.icondiv .fa-plus{
	color:black;
	cursor:pointer;
}
.containerimg .imgcls{
  padding: 20px;
  width:70px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  border-radius:70px;
  height:70px;
  cursor:pointer;
}
.containerimg .para1{
	position:absolute;
	top: 25px;
	left: 55px;
	font-size:10px;
	color:white;
	cursor:pointer;
}
.containerimg .para1:hover{
	color:black;
}

.image-grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    grid-auto-rows: minmax(30px, auto);
}

.image-grid .image-item:nth-child(5n) {
    grid-column-end: span 2;
}

.image-grid img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: rgba(0,0,0,.6);
}
.image-item {
position: relative;
}

.image-item:hover .overlay {
box-shadow: 0 0 10px 5px rgba(0,0,0,.5);
opacity: 1;
}

.download {
color: white;
font-size: 50px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}
#loader-img {
display: none;
    position: fixed;
    bottom: 3vh;
    left: calc(50vw - 75px);
    width: 150px;
}
#menubar{
display:none;
}
.sidenav {
  display:none;
  height:350px;
  width:150px;
  background-color: #111;
  position:absolute;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top:30px;
  border-radius:5px;
}
#mySidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size:14px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
#mySidenav a:hover
{
	color:#f1f1f1;
}
.sidenav1 {
  display:none;
  height:450px;
  width:150px;
  background-color: #111;
  position:absolute;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top:30px;
  border-radius:5px;
  right:10px;
}
#mySidenav1 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size:14px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav1 a:hover {
  color: #f1f1f1;
}
#mySidenav1 a:hover{
	color:#f1f1f1;
}
#mySidenav1 a .join {
  display: block;
  background: #3cb46e;
  color: #fff;
  padding:10px;
  border-radius: 5px;
  transition: filter 0.5s;
  width:20px;
}
#mySidenav1 a .join:hover {
  filter: brightness(85%);
}
@media(max-width:2560px)
{
.nav-search-form .material-icons{
right:10px;
}
.hero-search-form .material-icons{
right:15px;
top:35px;
}
.hero-search-form .search-icon{
top:40px;
}
}
@media(max-width:1500px){
.nav-search-form .material-icons{
right:30px;
}
.hero-search-form .material-icons{
right:30px;
top:15px;
}
.nav-search-form input{
width:350px;
}
.hero-search-form .search-icon{
right:30px;
top:15px;
}

}
@media(max-width:1024px){
.nav-search-form input{
width:250px;
}
}

@media(max-width:800px){
.nav-search-form input{
width:100%;
}
  .nav{
    margin-left:15px;
  }
  .nav li a{
    font-size:10px;
  }
.nav-search-form .material-icons{
display:none;
}
.logo h1
{
font-size:15px;
}
}
@media(max-width:650px){
#menubar{
display:block;
}
.nav .list{
display:none;
}
.nav-search-form input{
width:150px;
}
.nav li .join{
display:none;
}
.hero-search-form input{
display:none;
}
.fa-search{
display:none;
}
  .nav-search-form .material-icons{
display:none;
}
	.hero-search-form .material-icons{
		display:none;
	}

}
@media(max-width:380px){
.logo h1{
width:20px;
font-size:10px;
  }
.hero-search-form input{
display:none;
}
.fa-search{
display:none;
}
   .nav-search-form .material-icons{
display:none;
}

	.hero-search-form .material-icons{
		display:none;
	}


}
@media(max-width:320px){
  .logo h1{
width:15px;
font-size:10px;
}
  .logo p{
    width:15px;
    font-size:10px;
  }
  .nav-search-form input{
    width:120px;
    margin-left:30px;
  }
.hero-search-form input{
display:none;
}
.fa-search{
display:none;
}
  .nav-search-form .material-icons{
display:none;
}
  .nav-search-form .fa-search{
    display:none;
  }
	.hero-search-form .material-icons{
		display:none;
	}
}
@media(max-width:692px)
{
		.container{
	margin-top: 50px;
    text-align: center;
	margin-left:80px;
	margin-right:80px;
	
}

}
	

